@import "../base/media-quries.scss";

.footer {
  background-color: #fafafa;
  padding-top: 10px;
  .footersubsection {
    .footernavlinks {
      .footerlinksection {
        margin-top: -20px;
        list-style: none;
        .footerlink {
          display: inline-block;
          padding: 8px;
          a {
            text-decoration: none;
            color: #014c86;
            font-weight: bolder;
            font-size: 0.6em;
          }
        }
      }
    }
    .copurightsection {
      color: #919090;
      font-size: 0.7em;
      font-weight: bolder;
      vertical-align: 20px;
    }
  }
}
