.gettheapp {
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 16.375rem;
  height: 50px;
  position: relative;
  p {
    font-size: 1.1rem;
    font-family: inherit;
    color: rgb(78, 78, 78);
  }
  @include small-and-above {
    padding: 0;
    width: 60%;
  }
}
.gettheapplink {
  .getandroidapp {
    cursor: pointer;
    width: 125px;
    height: 40px;
    padding-right: 10px;
  }
  .getappleapp {
    cursor: pointer;
    width: 125px;
    height: 40px;
  }
}
