@import "./gotoSignupLogin.scss";
@import "./getTheApp.scss";

.container {
  background-color: #fafafa;
  align-items: center;
  height: 100vh;
}
.loginsignupsection {
  display: inline-block;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dfdbdb;
  border-radius: 1px;
  margin-top: 80px;
  padding: 20px 20px 20px 20px;
}

.loginsignupor {
  margin-top: 10px;
}
.or {
  font: inherit;
  color: #6d6c6c;
  font-size: 0.7em;
}
* {
  outline: none;
}
