.container {
  background-color: #fafafa;
}
.loginsignupsection {
  display: inline-block;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dfdbdb;
  border-radius: 1px;
  margin-top: 80px;
  padding: 20px 20px 20px 20px;
}

.loginsignupor {
  margin-top: 10px;
}
.or {
  font: inherit;
  color: #424242;
}
