.container {
  background-color: #FAFAFA;
}
.loginsignupsection {
  display: inline-block;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #c4c1c1;
  border-radius: 1px;
  margin-top: 20px;
  padding: 10px 10px;
}
.instalogo img {
  width: 175px;
  height: 65px;
}
