.loginsignupbutton {
  position: relative;
  background-color: #B8DFFD;
  color: #FFFEFE;
  text-align: center;
  font-weight: bold;
  height: 30px;
  width: 222px;
  border: none;
  border-radius: 2px;
  padding: 10px 10px 24px 10px;
  margin-top: 15px;
}
