.signupwithfacebook {
  background-color: #3f95f6;
  height: 25px;
  width: 220px;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  .signupwithfacebookicon,
  p {
    padding-right: 10px;
    display: inline-block;
    color: white;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 0.9em;
  }
}
