.signuptextbox {
  position: relative;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  font-size: 0.6em;
  height: 20px;
  width: 276px;
  border: 1px solid rgba(231, 230, 230, 0.667);
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  @include small-and-above {
    width: 81%;
  }
}
