.signupwithfacebook {
  background-color: #3f95f6;
  height: 35px;
  width: 285px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  .signupwithfacebookicon,
  p {
    padding-right: 10px;
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.2em;
  }
}
