@import "./base/media-quries.scss";

.footer {
  background-color: #fafafa;
  padding: 1.4rem 0;
  .footersubsection {
    nav {
      ul {
        margin-top: 0;
        list-style: none;
        li {
          display: inline-block;
          padding: 8px;
          a {
            text-decoration: none;
            color: #014c86;
            font-weight: bolder;
            font-size: 0.8rem;
          }
        }
      }
    }
    .copurightsection {
      color: #919090;
      font-size: 0.8rem;
      font-weight: bolder;
    }
  }
}
