@import "./base/media-quries.scss";
@import "./modules/gotoSignupLogin.scss";
@import "./modules/getTheApp.scss";

.container {
  background-color: #9e3c3c;
  height: 90vh;
  @include small-width {
    height: 120vh;
  }
}
.loginsignupsection {
  .loginsection {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #dfdbdb;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 18.25rem;
    padding: 20px 40px 40px 40px;
  }
  .signupsection {
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 18.25rem;
    background-color: #ffffff;
    border: 1px solid #dfdbdb;
    border-radius: 1px;
    padding: 20px 40px 40px 40px;
  }
  .loginsection, .signupsection {
    @include small-and-above {
      border: none;
      background-color: #fafafa;
      padding: 0;
      width: 70%;
      margin-top: 10px;
    }
  }
}

.loginsignupor {
  margin-top: 10px;
}
.or {
  font: inherit;
  color: #6d6c6c;
  font-size: 0.7em;
}
* {
  outline: none;
}
